<html>

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body> 
	<form method="post" name="customerData" action="<%= phpServer %>/ccavRequestHandler.php">
		<input type="hidden" name="merchant_id" value=<%= merchantID %> />
		<input type="hidden" name="order_id" value=<%= orderID %> />
		<input type="hidden" name="amount" value=<%= amountPayable %> />
		<input type="hidden" name="currency" value="AED" />
		<input type="hidden" name="redirect_url" value="<%= phpServer %>/ccavResponseHandler.php" />
		<input type="hidden" name="cancel_url" value="<%= phpServer %>/ccavResponseHandler.php" />
		<input type="hidden" name="language" value="EN" />
		<input type="hidden" name="billing_name" value="Charli" />
		<input type="hidden" name="billing_address" value="Room no 1101, near Railway station Ambad" />
		<input type="hidden" name="billing_city" value="Indore" />
		<input type="hidden" name="billing_state" value="MP" />
		<input type="hidden" name="billing_zip" value="425001" />
		<input type="hidden" name="billing_country" value="India" />
		<input type="hidden" name="billing_tel" value="9595226054" />
		<input type="hidden" name="billing_email" value="atul.kadam@avenues.info" />
		<input type="hidden" name="integration_type" value="iframe_normal" />
		<button class="btn btn-primary" id="myPayButton" type="submit">Button</button>
	</form>
</body>
<script>
	$(document).ready(function () {
		console.log("butoon clicked")
		$("#myPayButton").click()
	});
</script>

</html>